.logo {
    max-width: 330px;
}

.center {
    display: flex;
    justify-content: center;
}

.btn {
    margin-bottom: 2rem;
}

.space {
    margin: 1rem;
    width: 100%;
    max-width: 420px;
}

.container {
    max-width: 500px;
}