<div fxLayoutAlign="center">
    <div>
        <img class="logo" src="assets/logo-gradient.png" alt="ASEMUPEZ Logo">
    </div>
</div>

<div fxLayoutAlign="center"> 

    <mat-card class="space">
        <div [formGroup]="loginForm">
            <div fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" autocomplete="off" formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña" autocomplete="off" formControlName="password">
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
                <button mat-raised-button [disabled]="loginForm.invalid" (click)="login()">Iniciar sesión</button>
            </div>
        </div>
        <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary" (click)="register()">Registrarse</button>
            <button class="btn" mat-raised-button color="warn" (click)="loginGoogle()">Google</button>
        </mat-card-actions>
    </mat-card>

</div>