<mat-chip-list fxLayoutAlign="center" class="top space">
    <mat-chip class="mat-elevation-z11 animated jackInTheBox" *ngIf="Type" (click)="selectType(null);selectState(null)" color="accent" selected>
        {{Type.type}}
    </mat-chip>
    <mat-chip class="mat-elevation-z11 animated jackInTheBox" *ngIf="State" (click)="selectState(null)" color="primary" selected>
        {{State.state}}
    </mat-chip>
</mat-chip-list>

<mat-chip-list fxLayoutAlign="center" class="top space"  *ngIf="!Type">
  <mat-chip color="primary" [ngClass]="{'mat-elevation-z3': state == stateSelected}" [selected]="type == Type"
    *ngFor="let type of types" (click)="selectType(type)">
    {{type.type}}
  </mat-chip>
</mat-chip-list>
<mat-chip-list fxLayoutAlign="center" class="top space" *ngIf="!State">
  <mat-chip color="warn" [ngClass]="{'mat-elevation-z3': state == stateSelected}" [selected]="state == State"
    *ngFor="let state of states" (click)="selectState(state)">
    {{state.state}}
  </mat-chip>
</mat-chip-list>
<div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="formalities | async as formalities">
  <ng-container *ngIf="formalities.length > 0; else noFormalities">
      <app-formality-card class="card" [formality]="formality" *ngFor="let formality of formalities">

      </app-formality-card>
  </ng-container>
</div>

<ng-template #noFormalities>
  <mat-card class="card top">
    <mat-card-header>
      <mat-card-title>
        No hay tramites
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-template>