<p mat-dialog-title>Convenio</p>
<mat-dialog-content>

  <div fxLayout="column" [formGroup]="agreement">
    <mat-form-field appearance="outline">
      <mat-select placeholder="Categoría del convenio" formControlName="categories" multiple>
        <mat-option [value]="category" *ngFor="let category of data.categories">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input autocomplete="off" matInput placeholder="Nombre del convenio" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Sea creativo" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Link</mat-label>
      <input autocomplete="off" matInput placeholder="Redes sociales o Web" formControlName="link">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contacto</mat-label>
      <input autocomplete="off" matInput placeholder="Conctacto" formControlName="contact">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Localización</mat-label>
      <input autocomplete="off" matInput placeholder="Link Google Maps, Waze, etc" formControlName="location">
    </mat-form-field>
    <app-crooper [id]="id" [img]="data?.img" *ngIf="id"></app-crooper>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxLayoutAlign="center ">
    <button mat-raised-button [disabled]="agreement.invalid" *ngIf="!id" (click)="add()">Guardar</button>
    <button mat-raised-button [disabled]="agreement.invalid" *ngIf="id" (click)="update()">Actualizar</button>
  </div>	
</mat-dialog-actions>