<ng-container *ngIf="admin | async; else noAdmin">
    <div fxLayoutAlign="center" class="space">
        <mat-slide-toggle [checked]="true" (change)="filter($event)">Completos</mat-slide-toggle>
    </div>

    <div fxLayoutAlign="center">
        <mat-form-field appearance="fill" class="chip-list">
            <mat-chip-list #chipList>
                <mat-chip color="warn" [ngClass]="{'mat-elevation-z3': category == categorySelected}"
                    [selected]="category == categorySelected" *ngFor="let category of categoriesList"
                    [selectable]="true" (click)="searchAgreements(category)">
                    {{category}}
                    <mat-icon matChipRemove (click)="removeCategory(category)">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Categoría" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addCategory($event)">
            </mat-chip-list>
        </mat-form-field>
    </div>
    <button mat-fab class="fab" *ngIf="admin | async" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
</ng-container>

<ng-template #noAdmin>
    <mat-chip-list fxLayoutAlign="center" class="space">
        <mat-chip color="warn" [ngClass]="{'mat-elevation-z3': category == categorySelected}"
            [selected]="category == categorySelected" *ngFor="let category of categoriesList"
            (click)="searchAgreements(category)">
            {{category}}
        </mat-chip>
    </mat-chip-list>
</ng-template>

<ng-container>
    <ng-container *ngIf="categorySelected; else noCategory">
        <ng-container *ngIf="agreements | async as _agreements">


        
        <div fxLayout="row wrap" fxLayoutAlign="center">
            <mat-card *ngFor="let agreement of _agreements; let i = index" class="card animated fadeIn">
                <mat-card-header>
                    <mat-card-title>{{agreement.name}}</mat-card-title>
                    <mat-card-subtitle *ngIf="agreement.contact">{{agreement.contact}}</mat-card-subtitle>
                </mat-card-header>
                <img *ngIf="agreement?.img?.url" mat-card-image [src]="agreement.img.url" [alt]="agreement.description">
                <mat-card-content>
                    <span style="white-space: pre-line">
                        {{agreement.description}}
                    </span>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center">
                    <a *ngIf="agreement.location" mat-button color="primary" [href]="agreement.location"
                        target="_blank">
                        <mat-icon>map</mat-icon>
                    </a>
                    <a *ngIf="agreement.link" mat-button color="accent" [href]="agreement.link" target="_blank">
                        <mat-icon>contacts</mat-icon>
                    </a>
                    <ng-container *ngIf="adminActions">
                        <button mat-button (click)="edit(agreement)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button (click)="remove(agreement)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </ng-container>
                </mat-card-actions>

            </mat-card>
        </div>
        <ng-container *ngIf="_agreements.length != 0; else noItems">
            <div fxLayoutAlign="center" *ngIf="_agreements.length % 2 === 0" class="bottom">
                <button mat-raised-button (click)="getMore(_agreements)">Ver más</button>
            </div>
        </ng-container>
    </ng-container>
        <ng-template #noItems>
                <div fxLayoutAlign="center">
                        <mat-card class="card animated fadeIn">
                            <mat-card-header>
                                <mat-card-title>
                                    Categoría sin convenios
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </div>
        </ng-template>

    </ng-container>
    <ng-template #noCategory>
        <div fxLayoutAlign="center">
            <mat-card class="card animated fadeIn">
                <mat-card-header>
                    <mat-card-title>
                        Seleccione una categoría
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </ng-template>
</ng-container>