<mat-toolbar class="back mat-elevation-z8">
  <mat-toolbar-row>
    <div class="asemupez mat-elevation-z4" [routerLink]="['/services']"  matRipple  [matRippleColor]="'#115caa2a'">
    </div>
    <span>ASEMUPEZ</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"> 
      <ng-container *ngIf="admin | async; else noAdmin">
        <mat-icon matBadgePosition="before" [matBadge]="(formalities | async)?.length" matBadgeColor="warn">person_outline</mat-icon>
      </ng-container>
      <ng-template #noAdmin>
          <mat-icon>person_outline</mat-icon>
      </ng-template>
      
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
      <!-- <button mat-menu-item disabled>
          <mat-icon>login</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button> -->
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
