.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.back {
  background-color: #afd2ff;
}

.img {
  height: 50px;
  margin-right: 10px
}

.card {
  margin: 1rem;
  max-width: 500px;
  width: 80%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.asemupez {
  height: 50px;
  width: 50px;
  background-image: url(https://lh3.google.com/u/0/d/1oO2yxApBDWE38al_B_-IKE_yBjxksdDr=w1264-h896-iv3);
  background-size: contain;
  border-radius: 50%;
  margin-right: 1rem;
}