<div class="container" *ngIf="user | async as userData" fxLayoutAlign="center">
  <mat-accordion>
      <mat-expansion-panel *ngFor="let producto of userData.productos">
      <mat-expansion-panel-header class="producto">
        <mat-panel-title>
          {{producto.codigo.descripcion | titlecase}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Monto: {{ producto.monto | number }}</p>
      <p>Pagos realizados: {{ producto.pagos }}</p>
      <p>Porcentaje: {{ producto.porcentaje }}</p>
      <p>Cuota: {{ producto.cuota | number}}</p>
      <p>Intereses: {{ producto.interes }}</p>
      <p>Pagos realizados: {{ producto.pagos }}</p>
      <button mat-raised-button (click)="getMovimientos(producto)">Obtener movimientos</button>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let credito of userData.creditos">
      <mat-expansion-panel-header class="credito">
        <mat-panel-title>
          Credito  {{credito.tipo.detalle | titlecase}}: {{ credito.id }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Solicitud: {{ credito.solicitud }}</p>
      <p class="amount">Monto aprovado: {{ credito.montoAprovado | number }}</p>
      <p>Monto desembolsado: {{ credito.desembolsado | number }}</p>
      <p>Formalizado: {{ credito.formalizado | date: 'dd/MM/yyyy'}}</p>
      <p>Cargos del prestamo: {{ credito.cargos  | number }}</p>
      <p>Cuota: {{ credito.cuota | number}}</p>
      <p>Cantidad de cuotas: {{ credito.cuotas }}</p>
      <p>Pagos realizados: {{ credito.pagos }}</p>
      <p class="amount">Saldo del credito: {{ credito.saldo | number }}</p>
      <p>Amortizado ({{ (credito.montoAprovado-credito.saldo)*100/credito.montoAprovado | number: '1.2-2'}}%): {{ credito.montoAprovado - credito.saldo | number }} </p>
      <p>Ultimo pago: {{ credito.ultimo | date: 'dd/MM/yyyy'}}</p>
  
      <button mat-raised-button (click)="getMovimientosCredito(credito)">Obtener movimientos</button>
    </mat-expansion-panel>
  
  </mat-accordion>

  <mat-accordion>
  </mat-accordion>
</div>