<mat-card [ngClass]="{'pendiente': formality.state == 1, 'aprovado': formality.state == 3}">
  <mat-card-header>
    <mat-card-title>
      ₡ {{formality.amount | number : '2.0-2'}}
    </mat-card-title>
    <mat-card-subtitle>
      Socio: {{formality.socio}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{getType(formality?.type)}}: {{ getState(formality?.state) }}</p>
    <p>Solicitado: {{from(formality.created )}}</p>
    <p *ngIf="formality.ts">{{ getState(formality?.state) }}: {{ from(formality.ts) }}</p>
    <p *ngIf="formality.limit">Quincenas: {{ formality.limit }}</p>
    <p class="offer" *ngIf="formality.offer">Ofertado: {{ formality.offer | number : '2.0-2' }}</p>    
    <p *ngIf="formality.type == 2 && formality.state == 1">
      <mat-form-field appearance="fill">
        <mat-label>Contraoferta</mat-label>
        <input matInput placeholder="Monto posible" [formControl]="amount" type="number">
        <mat-icon matSuffix>money</mat-icon>
      </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="!formality.ts && formality.state != 2 ">
    <button mat-button color="primary" (click)="changeState(formality, 3)">Aprobar</button>
    <button mat-button color="primary" (click)="changeState(formality, 4)">Rechazar</button>
    <button mat-button color="primary" (click)="setAmount()" [disabled]="amount.invalid"
      *ngIf="formality.type == 2">Contraoferta</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="formality.type != 5 && formality.ts">
    <button mat-button color="primary" (click)="changeState(formality, 3)" *ngIf="formality.state == 4">Aprobar</button>
    <button mat-button color="primary" (click)="changeState(formality, 4)"
      *ngIf="formality.state == 3">Rechazar</button>
  </mat-card-actions>

</mat-card>