<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Usuarios</mat-card-title>
      <mat-card-subtitle>Asignación de socio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Obtenga información basica sobre usuario mediante el email registrado</p>
    </mat-card-content>
    <mat-card-actions class="">
      <button [routerLink]="['user']"  mat-raised-button color="primary">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Tramites</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Revisión de tramites por estado</p>
    </mat-card-content>
    <mat-card-actions class="">
      <button [routerLink]="['agreements']"  mat-raised-button color="primary">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>