<mat-list>
  <h3 mat-subheader>Movimientos</h3>
  <article *ngIf="movements | async as movements">
    <section *ngIf="movements.length > 0; else noMovements">
      <div  *ngFor="let movement of movements">
        <mat-divider></mat-divider>
        <mat-list-item>
          <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
          <p mat-line>Pago #{{ movement.numPago }}</p>
          <p mat-line>Monto: ₡{{ movement.montoMovimiento | number }}</p>
          <p mat-line>Saldo: ₡{{ movement.montoPrincipal | number}}</p>
          <h4 mat-line>{{movement.fechaMovimiento | date : 'dd/MM/yyyy'}}</h4>
        </mat-list-item>
      </div>
    </section>
  </article>
  <ng-template #noMovements>
    <p>No hay movimientos registrados</p>
  </ng-template>
  
  <!-- <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>{{note.name}}</h4>
    <p mat-line> {{note.updated | date}} </p>
  </mat-list-item> -->
</mat-list>