.card {
    margin: 2rem;
    max-width: 300px;
    width: 100%;
}

.pendiente {
    background: #fffead;
}

.aprovado{
    background: #a7f9af;
}

.rechazado{
    background: #f9a7a7;
}

.top {
    margin-top: 2rem;
}

.offer {
    color: crimson;
}

.space {
    margin: 1rem;
}