<div fxLayoutAlign="center">
    <mat-card *ngIf="userCapacity | async as capacity" class="card">
        <mat-card-header>
            <mat-card-title>Capacidad de credito</mat-card-title>
            <mat-card-subtitle>Sobre ahorros: ₡{{ capacity.savings | number : '0.0-0'}}</mat-card-subtitle>
            <mat-card-subtitle>Con garantia: ₡{{ capacity.personal | number : '0.0-0' }}</mat-card-subtitle>
            <mat-card-subtitle>Hipotecario: ₡{{ capacity.mortgage | number : '0.0-0' }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<mat-chip-list fxLayoutAlign="center"  class="space">
    <mat-chip class="mat-elevation-z11 animated jackInTheBox" *ngIf="Type" (click)="selectType(null);selectState(null)" color="accent" selected>
        {{Type.type}}
    </mat-chip>
    <mat-chip class="mat-elevation-z11 animated jackInTheBox" *ngIf="State" (click)="selectState(null)" color="primary" selected>
        {{State.state}}
    </mat-chip>
</mat-chip-list>

<mat-chip-list fxLayoutAlign="center" class="space" *ngIf="!Type">
    <mat-chip color="primary" [ngClass]="{'mat-elevation-z3': state == stateSelected}" [selected]="type == Type"
        *ngFor="let type of types" (click)="selectType(type)">
        {{type.type}}
    </mat-chip>
</mat-chip-list>
<mat-chip-list fxLayoutAlign="center" class="space" *ngIf="!State">
    <mat-chip color="warn" [ngClass]="{'mat-elevation-z3': state == stateSelected}" [selected]="state == State"
        *ngFor="let state of states" (click)="selectState(state)">
        {{state.state}}
    </mat-chip>
</mat-chip-list>


<div fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card *ngFor="let formality of formalities | async" class="card animated fadeIn"
        [ngClass]="{'pendiente': formality.state == 1, 'aprovado': formality.state == 3 || formality.state == 6, 'rechazado': formality.state === 4}">
        <mat-card-header>
            <mat-card-title>
                ₡ {{formality.amount | number : '2.0-2'}}
            </mat-card-title>
            <mat-card-subtitle>
                Socio: {{formality.socio}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{getType(formality?.type)}}: {{ getState(formality?.state) }}</p>
            <p>Solicitado: {{from(formality.created)}}</p>
            <p *ngIf="formality.limit">Quincenas: {{formality.limit}}</p>
            <p *ngIf="formality.ts">{{ getState(formality?.state) }}: {{ from(formality.ts) }}</p>
            <p class="mat-card offer" *ngIf="formality.offer">Ofertado: {{ formality.offer  | number : '2.0-2' }}</p>
        </mat-card-content>
        <mat-card-actions
            *ngIf="formality.state == 1 && !formality.ts">
            <button mat-button color="warn" (click)="cancel(formality, 2)"
                *ngIf="formality.state != 2">Cancelar</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="formality.state == 5 && formality.ts">
            <button mat-button color="primary" (click)="active(formality, 6)">Aceptar</button>
            <button mat-button color="warn" (click)="cancel(formality, 7)">Rechazar</button>
        </mat-card-actions>
    </mat-card>
</div>

<button mat-fab class="fab" (click)="addFormality()" *ngIf="State?.id == 1 && (capacity == 0 )">
    <mat-icon>add</mat-icon>
</button>