<div fxLayoutAlign="center" *ngIf="socio | async as user">
  <mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar [src]="user.photoURL" [alt]="socio.email" *ngIf="user.photoURL">
      <mat-card-title>{{user.email}}</mat-card-title>
      <mat-card-subtitle>UID: {{user.uid}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="user?.displayName">{{user.displayName}}</p>
      <p *ngIf="user?.socio?.id">Socio: {{user?.socio?.id || 'Sin socio definido'}}</p>
      <p *ngIf="user?.socio?.identification">Cedula: {{user?.socio?.identification}}</p>
      <p *ngIf="user?.socio?.name">Nombre: {{user?.socio?.name | titlecase}}</p>
      <p *ngIf="user?.socio?.birth">Dirección: {{user?.socio?.address | titlecase}}</p>
      <p *ngIf="user?.socio?.birth">Nacimiento: {{user?.socio?.birth | date : 'dd/MM/yyyy'}}</p>
    </mat-card-content>

    <div fxLayoutAlign="center" [formGroup]="socioForm">
      <mat-form-field appearance="outline" fxLayoutAlign="center">
        <mat-label>Id de socio</mat-label>
        <input matInput type="number" placeholder="Numero entero" autocomplete="false" formControlName="socio">
      </mat-form-field>
    </div>
    <div fxLayoutAlign="center">
      <button mat-raised-button [disabled]="socioForm.invalid" (click)="definir()">Definir</button>
    </div>
  </mat-card>
</div>

<div fxLayoutAlign="center">
  <mat-card class="card">
    <mat-card-content>

      <mat-form-field>
        <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Filtar usuario">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.displayName}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-list>
                <mat-chip (click)="buscar(row.email)"> {{row.email}}</mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>

          <ng-container matColumnDef="socio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Socio </th>
            <td mat-cell *matCellDef="let row"> {{row.socio || 'XXX'}} </td>
          </ng-container>

          <ng-container matColumnDef="photoURL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
            <td mat-cell *matCellDef="let row"> <img *ngIf="row.photoURL" mat-card-avatar [src]="row.photoURL"
                alt="row.email"> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>