.card {
    margin: 1rem;
    max-width: 500px;
    width: 80%;
  }
  
  table {
    width: 100%;
    max-width: 500px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }