<h2 mat-dialog-title>Registro de usuario</h2>
<mat-dialog-content fxLayout="column" [formGroup]="nuevoUsuario">

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Correo electronico</mat-label>
    <input matInput placeholder="Email" formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Mínimo 8 caracteres" formControlName="password">
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Confirme contraseña</mat-label>
    <input type="password" matInput placeholder="Repetir contraseña" formControlName="confirmPassword">
    <mat-error *ngIf="nuevoUsuario.get('password').value !== nuevoUsuario.get('confirmPassword').value">Contraseña no
      coincide</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="nuevoUsuario.invalid" color="primary" (click)="register()">Registrar</button>
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
</mat-dialog-actions>