<input #fileToUpload type="file" style="display:none;" (change)="fileChangeEvent($event)">

<div fxLayoutAlign="center">
  <button mat-mini-fab type="button" color="warn" (click)="fileToUpload.click()">
    <label for="fileToUpload">
      <mat-icon>folder</mat-icon>
    </label>
  </button>
</div>

<image-cropper class="crooper" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
  [resizeToWidth]="512" format="webp" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

<!-- <div fxLayoutAlign="center" *ngIf="croppedImage; else selectFile">
  <img [src]="croppedImage" class="img" />
</div> -->
<div fxLayoutAlign="center" class="upload-btn" *ngIf="croppedImage">
  <button mat-raised-button color="primary" (click)="upload()">Subir imagen</button>
</div>

<ng-template #selectFile>
  <div fxLayoutAlign="center">
    <p>Seleccione una imagen para inciar</p>
  </div>
</ng-template>