/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: linear-gradient(to right, rgba(16,176,230,1) 0%, rgba(11,148,210,1) 33%, rgba(0,90,169,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10b0e6', endColorstr='#005aa9', GradientType=1 );
}

.fab {
    position: fixed!important;
    bottom: 0;
    right: 0;
    margin: 1rem!important;
    z-index: 10;
    background-color: #2db1e7 !important;
}