.card {
    margin: 1rem;
    max-width: 500px;
    width: 80%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .logo{
    
    height: 50px
  }

  .nodejs {
    background: #333;
  }