<div class="container">

  <ng-container *ngIf="admin | async; else noAdmin">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Administración</mat-card-title>
        <mat-card-subtitle>Sección de los administración para personal</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Asignación de socios a usuario, edición de convenios, visión de tramites</p>
      </mat-card-content>

      <mat-card-actions class="">
        <button mat-raised-button color="primary" [routerLink]="['/dashboard/admin']">Administrar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Convenios</mat-card-title>
        <mat-card-subtitle>Buscando la manera de ayuar a nuestros socios</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>La asociación constantemente busca convenios para poder brindar la mejor experiencia al ser miembro activo
        </p>
      </mat-card-content>

      <mat-card-actions class="">
        <button mat-raised-button color="primary" [routerLink]="['/dashboard/agreements']">Ver convenios</button>
      </mat-card-actions>
    </mat-card>

  </ng-container>

  <ng-template #noAdmin>
    <ng-container *ngIf="user | async as user; else noUser">
      <ng-container *ngIf="user.id; else noUser">
        <mat-card class="card">
          <mat-card-header>
            <img mat-card-avatar *ngIf="user.photoURL" [src]="user.photoURL" [alt]="user.email">
            <mat-card-title>{{user.name  | titlecase}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.identification}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>{{user.address | titlecase}}</p>
          </mat-card-content>

          <mat-card-actions class="">
            <button (click)="installApp()" *ngIf="install | async" mat-raised-button color="primary">Instalar
              Ya!!!</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Productos</mat-card-title>
            <mat-card-subtitle>Sección de los productos del asociado</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Dado que los estados de cuenta son una sección indispensable para cada socio, se lleva a un nivel
              superior
            </p>
          </mat-card-content>

          <mat-card-actions class="">
            <button mat-raised-button color="primary" [routerLink]="['/dashboard/products']">Consultar
              productos</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Convenios</mat-card-title>
            <mat-card-subtitle>Buscando la manera de ayuar a nuestros socios</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>La asociación constantemente busca convenios para poder brindar la mejor experiencia al ser miembro
              activo
            </p>
          </mat-card-content>

          <mat-card-actions class="">
            <button mat-raised-button color="primary" [routerLink]="['/dashboard/agreements']">Ver convenios</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Tramites</mat-card-title>
            <mat-card-subtitle>Brindamos servicios en linea para su facilidad</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Llevamos los servicios hasta el usuario y no el usuario hasta los servicios, por eso la asociación pone a
              disposición algunos servicios utiles</p>
          </mat-card-content>

          <mat-card-actions class="">
            <button mat-raised-button color="primary" [routerLink]="['/dashboard/formalities']">Realizar
              tramites</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>

    <ng-template #noUser>
      <div class="container" *ngIf="user | async as user; else noUser">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>ASEMUPEZ le saluda</mat-card-title>
            <mat-card-subtitle>Activación de cuenta necesaria</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-avatar *ngIf="user.photoURL" [src]="user.photoURL" [alt]="user.email">
            <mat-card-title>{{user.name  | titlecase}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            <p>Al Parecer no tiene un socio asignado a su cuenta, puede completar la activación de la cuenta
              dirigiendose a nuestra oficina :)</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </ng-template>
</div>