<div [formGroup]="formality" fxLayoutAlign="center" fxLayout="column">
  <mat-form-field>
    <mat-select placeholder="Tipo de tramite" formControlName="type" (selectionChange)="setType($event)" [disabled]="true">
      <mat-option [value]="type.id" *ngFor="let type of types">
        {{type.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="limit">
    <mat-select placeholder="Quincenas" formControlName="limit">
      <mat-option value="1">
        1
      </mat-option>
      <mat-option value="2">
        2
      </mat-option>
      <mat-option value="3">
        3
      </mat-option>
      <mat-option value="4">
        4
      </mat-option>
      <mat-option value="5">
        5
      </mat-option>
      <mat-option value="6">
        6
      </mat-option>
      <mat-option value="7">
        7
      </mat-option>
      <mat-option value="8">
        8
      </mat-option>
      <mat-option value="9">
        9
      </mat-option>
      <mat-option value="10">
        10
      </mat-option>
      <mat-option value="11">
        11
      </mat-option>
      <mat-option value="12">
        12
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input autocomplete="off" matInput placeholder="Monto a solicitar" type="number" formControlName="amount">
    <span matPrefix>₡&nbsp;</span>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="formality.invalid" (click)="add()">
    <mat-icon >add</mat-icon>
  </button>
</div>